.github-corner {
  position: fixed;
  top: 0;
  border: 0;
  right: 0;
  fill: var(--color-github-corner-bg);
  color: #fff;
  width: 4.75rem;
  z-index: 0;

  @media screen and (min-width: 64.0625em) {
    width: 100px;
    height: 100px;
  }
}

.github-corner .background {
  box-shadow: 0 0 30px 10px rgba(0,0,0,0.50) inset;
}

.github-corner .octo-body,
.github-corner .octo-arm {
  fill: var(--color-github-corner-octocat);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
