h2 {
  position: relative;
}

h2[id] > span {
  position: relative;
  z-index: 1;
}

h2 > a {
  @media screen and (min-width: 64.0625em) {
    position: absolute;
    width: calc(100% + 1em);
    right: 0;
  }
}

h2 > a::before {
  content: "#";
  display: inline-block;
  opacity: 0;
  scale: 0.6;
  translate: -100vw;
  transform-origin: 50% 50%;
  transition: opacity 0.2s ease, scale 0.2s ease-out;
}

h2:hover a::before,
h2 a:hover::before {
  opacity: 1;
  scale: 0.8;
  translate: 0;
}

h2 > a[href^='#'] {
  color: var(--color-section-permalink) !important;
}
