.scene-class-attr-comment {
  text-align: justify;
}

.scene-class-attr-group {
  color: #727272;
  font: 16px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.scene-class-attr-missing {
  color: red;
}

