/* Attribute Groups */
div.scene-class summary {
  color: #727272;
  font-size: 1.17em;
  font-weight: bold;
  cursor: pointer;
}

/* Attribute Name */
div.scene-class h3 {
}

/* Documentation Comment */
p.scene-class-comments {
  text-align: justify;
}

/* Missing Documentation Comment */
p.scene-class-no-doc {
  color: red;
}
