<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-title" content="MoonRay Documentation">
    <meta name="application-name" content="MoonRay Documentation">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}"> 
    <link rel="stylesheet" href="/manhattan/assets/css/native.css"> 
    <link rel="icon" type="image/png" href="/manhattan/assets/images/favicon.png" />
    <link rel="apple-touch-icon" href="/manhattan/assets/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="512x512"  href="/manhattan/assets/images/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/manhattan/assets/images/android-chrome-192x192.png">
  
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <!-- Setup MathJax LaTex formatting -->
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
      };
    </script>

    <script id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
  
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="MoonRay" /></a>

        <!-- <p>{{ site.description | default: site.github.project_tagline }}</p> -->
        <p>{% include last-modified-date.html %}</p>
      </header>
      
      <section>
        
      {{ content }}

      </section>
      <footer>
        <p class="view"><a target="_blank" href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</a></p>
        <p><small>Copyright &copy; 2022 DreamWorks Animation LLC. All Rights Reserved.</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
