<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-title" content="MoonRay Documentation">
    <meta name="application-name" content="MoonRay Documentation">
    <title>{{ page.title }}</title>
    
    {% include head-custom.html %}
    
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="MoonRay" /></a>

        <p>{% include last-modified-date.html %}</p>
      </header>
      
      {% include toc.html html=content %}
      
      <section>
        
      {{ content }}

      </section>
      <footer>
        <p class="view"><a target="_blank" href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</a></p>
        <p><small>Copyright &copy; 2022 DreamWorks Animation LLC. All Rights Reserved.</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
